<br>
<div class="container">
  <div class="row">
  <div class="col-md-9 div">
    <h3 class="text-center" style="text-align: left">Porady dla osób zmagających się z infekcją grzybiczą</h3>
    <hr>
    <ol>
      <li>Skonsultuj się z lekarzem: Jeśli podejrzewasz, że masz grzybicę paznokci, skonsultuj się z lekarzem, najlepiej dermatologiem. Lekarz może zdiagnozować i zalecić odpowiednie leczenie.</li>
      <br>
      <li>Zachowaj higienę: Staraj się utrzymywać paznokcie i stopy w czystości i suche. Regularnie myj stopy, szczególnie przestrzenie między palcami, a następnie dokładnie osuszaj.</li>
      <br>
      <li>Unikaj wilgoci: Grzyby często rozwijają się w wilgotnym środowisku. Staraj się nosić przewiewne buty i chodź w cholewkach, które umożliwiają wentylację. Unikaj chodzenia boso w publicznych miejscach, takich jak baseny, łaźnie czy prysznice.</li>
      <br>
      <li>Skracaj paznokcie: Przy grzybicy paznokci ważne jest, aby regularnie przycinać paznokcie, utrzymując je jak najkrótsze. To pomaga ograniczyć miejsca, w których grzyby mogą rozwijać się i przenikać.</li>
      <br>
      <li>Unikaj obcisłych butów i skarpetek: Unikaj noszenia obcisłych butów i skarpetek, które mogą powodować ucisk na paznokcie i ograniczać wentylację.</li>
      <br>
      <li>Zastosuj się do zaleceń lekarza: Jeśli lekarz zalecił leczenie, np. leki doustne lub miejscowe, stosuj się do zaleceń i przestrzegaj harmonogramu podawania leków.</li>
      <br>
      <li>Starannie dezynfekuj narzędzia do paznokci: Jeśli korzystasz z narzędzi do manicure lub pedicure, upewnij się, że są one starannie dezynfekowane lub używaj jednorazowych narzędzi.</li>
      <br>
      <li>Unikaj współdzielenia rzeczy osobistych: Staraj się unikać współdzielenia rzeczy osobistych, takich jak ręczniki, buty czy pilniki do paznokci, które mogą przenosić grzyby.</li>
    </ol>

  </div>

  <div class="col-md-3" style=" margin: auto 0">
    <img style="width:100%; border-radius: 10px" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000">
  </div>
  </div>
</div>
