<br>
<div class="container">
  <h3 class="text-center">Poradniki wideo</h3>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-4">
        <div class=" text-center embed-responsive embed-responsive-16by9" style="width: 100%; height: 100%;">
          <iframe width="630" height="315" src="https://www.youtube.com/embed/x5ZlMm2EjAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
      </div>
      <hr style="width:60%; margin: 0 auto;">
      <br>
      <div>
        <div class="text-center embed-responsive embed-responsive-16by9" style="width: 100%; height: 100%">
          <iframe width="630" height="315" src="https://www.youtube.com/embed/WNfVJIthdyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
