<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-7 m-2" style="background-color: rgba(174,202,255,0.2); border-radius: 10px">
      <canvas id="lineChart"></canvas>
    </div>

    <div class="col-sm-4 m-2 text-center div-center">
      <h2>Termin kolejnego zdjęcia kontrolnego:</h2>
      <h4 *ngIf="days===0"><strong style="color: red">{{days}} dni</strong></h4>
      <h4 *ngIf="days!==0"><strong style="color: green">{{days}} dni</strong></h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-3 m-4">
      <div class="row">
        <div class="col div-center">
          <button class="btn btn-lg btn-info" (click)="takePhoto()"><i class="bi bi-images"></i> Zrób zdjęcie</button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col div-center text-center">
          <h3>Jesteś na dobrej drodze do wyleczenia.</h3>
          <h5>Szacowany pozostały czas:</h5>
          <h6><strong style="background-color: greenyellow">3 miesiące</strong></h6>
        </div>
      </div>
    </div>


    <div class="col-sm-8 m-2 text-center div-center p-1">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Data zrobienia zdjęcia</th>
          <th>Procent</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>22.08.2022r.</td>
          <td>70</td>
        </tr>
        <tr>
          <td>31.08.2022r.</td>
          <td>72</td>
        </tr>
        <tr>
          <td>07.09.2022r.</td>
          <td>75</td>
        </tr>
        <tr>
          <td>14.09.2022r.</td>
          <td>74</td>
        </tr>
        <tr>
          <td>21.09.2022r.</td>
          <td>77</td>
        </tr>
        <tr>
          <td>28.09.2022r.</td>
          <td>79</td>
        </tr>
        <tr>
          <td>05.10.2022r.</td>
          <td>81</td>
        </tr>
        <tr>
          <td>12.10.2022r.</td>
          <td>82</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-light" (click)="onRaportDownload()">Wygeneruj raport</button>

    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-7 m-2" style="background-color: rgba(174,202,255,0.2); border-radius: 10px">

    </div>

    <div class="col-sm-4 m-2 text-center div-center">
      <h3>Częstotliwość robienia zdjęć:</h3>
      <div class="form-group">
        <select class="form-control" id="duration">
          <option value="1">1 tydzień</option>
          <option value="2">2 tygodnie</option>
          <option value="3">3 tygodnie</option>
          <option value="4">miesiąc</option>
        </select>
      </div>
      <br>
      <button class="btn btn-primary" (click)="onConfirm()">Zatwierdź</button>

    </div>
  </div>
</div>
